* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', 'Open Sans', sans-serif;
  line-height: 1.4;

  /* ---------- CENTERING MANIPULATION ---------- */
  height: 100%;
  display: flex;

  /* Centers Canvas Horizontally */
  justify-content: center;

  /* Centers Canvas Vertically. */
  align-items: center;
  /* -------------------------------------------- */
  
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0 1rem,
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}

/* ---------- COLOUR THEME ---------- */
.primaryCol {
  color: #00ccff;
}

.primaryColBackground {
  background: #00ccff;
}

.secondaryCol {
  color: #ccf5ff;
}

.secondaryColBackground {
  background: #ccf5ff;
}

.tertiaryCol {
  color: #8041ec;
}

.tertiaryColBackground {
  background: #673ab7;
}
/* -------------------------------- */


/* ---------- TABLE ---------- */
.caption {
  font-size: 24px;
  margin-bottom: 50px;
  margin-left: 10px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.heads {
  font-size: 18px;
  letter-spacing: 1px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

/* Spacing */
thead th:nth-child(1) {
  width: 20%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 25%;
}

th, td {
  padding: 15px;
  
}

/* Striping */
table {
  background-color: #00ccff;
}

tbody tr:nth-child(odd) {
  background-color:#c7a8fd;
}

tbody tr:nth-child(even) {
  background-color: #e8daff;
}
/* --------------------------- */